* {
	font-family: Helvetica;
}

.container {
	width: 200px;
}

.container input {
	width: 100%;
}

li#username {
	margin-top: 15px;
}

#mybuttons {
	text-align: center;
}

table {
	width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

thead th {
	height: 30px;
	text-align: left;
}

tbody {
	height: 500px;
	overflow-y: auto;
}

thead {
	/* fallback */
}

tbody td, thead th {
	width: 14%;
	float: left;
}